.feedPost{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: theme('colors.gray.100');
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
}
.authorName{
    cursor: pointer;
}
.avatar{
    cursor: pointer;
}
.mainContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.postHeader{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.postFooter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.manage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.manageButtons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.manageButtons .btn{
    cursor: pointer;
}
.postDescription{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}